<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <h2>Add query</h2>
      <form class="form" action="/queries" method="post">
        <div class="form-group">
          <label for="name" class="control-label">Name</label>
          <input type="text" class="form-control" id="name" name="name" value="<%= @query.attributes[:name] %>">
        </div>
        <div class="form-group">
          <label for="query" class="control-label">Query</label>
          <input type="text" class="form-control" id="query" name="query" value="<%= @query.attributes[:query] %>">
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="time_from" class="control-label">Time from</label>
              <div class="input-group date">
                  <input type="text" class="form-control" id="time_from" name="time_from" size="10" value="<%= @query.attributes[:time_from] %>">
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="time_to" class="control-label">Time to</label>
              <div class="input-group date">
                  <input type="text" class="form-control" id="time_to" name="time_to" size="10" value="<%= @query.attributes[:time_to] %>">
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
