<form class="form-horizontal" action="/queries" method="post">
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" name="name">
    </div>
  </div>
  <div class="form-group">
    <label for="query" class="col-sm-2 control-label">Query</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="query" name="query" value="<%= @query.attributes[:query] %>" readonly="readonly">
    </div>
  </div>
  <div class="form-group">
    <label for="time_from" class="col-sm-2 control-label">Time from</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="time_from" name="time_from" value="<%= @query.attributes[:time_from] %>" readonly="readonly">
    </div>
  </div>

  <div class="form-group">
    <label for="time_to" class="col-sm-2 control-label">Time to</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="time_to" name="time_to" value="<%= @query.attributes[:time_to] %>" readonly="readonly">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="follow" <%= 'checked="checked"' if @query.follow? %>> Follow
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Create</button>
    </div>
  </div>
</form>
