body {
  min-width: 1100px;
  padding-top: 70px;
}

.super-date-picker {
  margin: 10px 0;
}

.super-date-picker__quick-item-group {
  width: 100% !important;
}

.super-date-picker__quick-item-group .super-date-picker__quick-item {
  text-align: left;
}

.search-params-popover {
  position: fixed;
  bottom: -10000px;
  margin: 0px;
  padding: 10px 25px 10px 15px;
  width: 40%;
  min-width: 800px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.2s;
  background: #999;
  max-height: 500px;
  overflow: auto;
}

.search-params-popover.search-params-popover_active {
  display: block;
  bottom: 49px;
  opacity: 1;
}

.logs-result {
  position: fixed;
  top: 0px;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}

.logs-result__container {
  position: fixed;
  top: 50px;
  bottom: 50px;
  padding: 15px 10px;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

.logs-result_default-theme {
  font-family: monaco,monospace;
  font-size: 12px;
  line-height: 1.8;
  background: #000;
  color: #fff;
}

.logs-result__entry {
  margin-right: 2px;
}

.logs-result__entry_timestamp {
  background: #262626;
  color: #CD8D25;
}

.logs-result__entry_key {
  background: #262626;
  color: #258CCD;
}

.logs-result__entry_value {

}

.will-paginate-navbar .pagination {
  margin: 8px 0 0; /* TODO: Remove */
}

.error-container {
  position: fixed;
  width: 100%;
  top: 60px;
  z-index: 2000;
}
