body {
  min-width: 1100px;
  padding-top: 70px;
}

.error-container_fixed {
  position: fixed;
  width: 100%;
  top: 60px;
  z-index: 2000;
}

.sortable-handle {
  cursor: move;
}

.select2-results__option[aria-selected=true] {
  display: none;
}
