<form class="form-inline" id="filter-form" action="/query" method="get">
  <div class="form-group">
    <input type="text" class="form-control" id="query" placeholder="Query..." name='query' size="60" value="<%= h @query.attributes[:query] if @query %>">

    <input type="text" class="form-control" id="time-from" name='time_from' placeholder="from" size="10" value="<%= h @query.attributes[:time_from] if @query %>">
    <input type="text" class="form-control" id="time-to" name='time_to' placeholder="to" size="10" value="<%= h @query.attributes[:time_to] if @query %>">

    <!-- <div class='input-group date' id=''>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
    <div class='input-group date' id=''>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div> -->
  </div>
  <div class="checkbox">
    <label>
      <input id="filter-follow" type="checkbox" name="follow" <%= 'checked="checked"' if @query && @query.follow? %>> Follow
    </label>
  </div>
  <% if @query %>
    <button type="button" class="btn btn-info" id="save-query">Save</button>
  <% end %>

  <button type="submit" class="btn btn-default">Send</button>
</form>
