<% if @to_clickhouse %>
<p>
  <pre>
<%= h @to_clickhouse %>
  </pre>
</p>

<%= will_paginate(@query, renderer: WillPaginate::Sinatra::BootstrapLinkRenderer) %>

<div class="logs-result">
  <% @query.result.each do |entry| %>
    <p>
      <%= erb :_result_entry, locals: { entry: entry } %>
    </p>
  <% end %>
</div>
<% end %>
