<% if @to_clickhouse %>
<p>
  <pre>
<%= h @to_clickhouse %>
  </pre>
</p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <% @rows.names.each do |n| %>
        <th><%=h n %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @rows.each do |r| %>
    <tr>
      <% r.each do |c| %>
        <td>
          <%=h c %>
        </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
