<div class="logs-result logs-result_default-theme">
  <div class="logs-result__container">
    <% if @to_clickhouse %>
      <% @query.result.each do |entry| %>
        <div>
          <%= erb :_result_entry, locals: { entry: entry } %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
