apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: fluentd
  namespace: {{ .Release.Namespace }}
  labels:
    k8s-app: fluentd
    kubernetes.io/cluster-service: "true"
    addonmanager.kubernetes.io/mode: Reconcile
spec:
  selector:
    matchLabels:
      k8s-app: fluentd
  template:
    metadata:
      labels:
        k8s-app: fluentd
        kubernetes.io/cluster-service: "true"
{{- if or .Values.fluentd.podAnnotations .Values.fluentd.prometheusEnabled }}
      annotations:
{{- range $key, $value := .Values.fluentd.podAnnotations }}
        {{ $key }}: {{ $value | quote }}
{{- end }}
{{- if .Values.fluentd.prometheusEnabled }}
        prometheus.io/scrape: "true"
        prometheus.io/port: {{ .Values.fluentd.exporterPort | quote }}
{{- end }}
{{- end }}
    spec:
      serviceAccountName: fluentd
      containers:
      - name: fluentd
        image: {{ .Values.fluentd.image }}:{{ template "app.version" $ }}
        imagePullPolicy: {{ .Values.imagePullPolicy }}
        env:
        - name: FLUENTD_ARGS
          value: --no-supervisor -q
        - name: CLICKHOUSE_SERVER
          value: {{ .Values.clickhouse.server | quote }}
        - name: CLICKHOUSE_PORT
          value: {{ .Values.clickhouse.port | quote }}
        - name: CLICKHOUSE_DATABASE
          value: {{ .Values.clickhouse.db | quote }}
        - name: K8S_LOGS_TABLE
          value: {{ .Values.clickhouse.table | quote }}
        - name: K8S_NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        envFrom:
        - secretRef:
            name: clickhouse-credentilas
{{- if .Values.fluentd.resources }}
        resources:
          limits:
            memory: {{ .Values.fluentd.resources.limits.memory }}
            cpu: {{ .Values.fluentd.resources.limits.cpu }}
          requests:
            memory: {{ .Values.fluentd.resources.requests.memory }}
            cpu: {{ .Values.fluentd.resources.requests.cpu }}
{{- end }}
        ports:
{{- if .Values.fluentd.prometheusEnabled }}
        - name: http-metrics
          containerPort: {{ .Values.clickhouse.exporterPort }}
{{- end }}
        - name: tcp-logs
          containerPort: {{ .Values.fluentd.tcpPort }}
        - name: udp-logs
          containerPort: {{ .Values.fluentd.udpPort }}
        volumeMounts:
{{- if .Values.docker_path }}
        - name: dockerpath
          mountPath: {{ .Values.docker_path }}
          readOnly: true
{{- end }}
        - name: varlog
          mountPath: /var/log
        - name: varlibdockercontainers
          mountPath: /var/lib/docker/containers
          readOnly: true
        - name: libsystemddir
          mountPath: /host/lib
          readOnly: true
        - name: config-volume
          mountPath: /etc/fluent/config.d
      terminationGracePeriodSeconds: 30
      {{ include "includeByName" (dict "root" .Values.fluentd "name" "nodeSelector") | indent 6 | trim }}
      {{ include "includeByName" (dict "root" .Values.fluentd "name" "tolerations") | indent 6 | trim }}
{{- if .Values.fluentd.imagePullSecrets }}
      imagePullSecrets:
{{ toYaml .Values.fluentd.imagePullSecrets | indent 6 }}
{{- end }}
      volumes:
      - name: varlog
        hostPath:
          path: /var/log
{{- if .Values.docker_path }}
      - name: dockerpath
        hostPath:
          path: {{ .Values.docker_path }}
{{- end }}
      - name: varlibdockercontainers
        hostPath:
          path: /var/lib/docker/containers
      - name: libsystemddir
        hostPath:
          path: /usr/lib64
      - name: config-volume
        configMap:
          name: fluentd-config
