<div class="error-container error-container_fixed">
  <div class="container-fluid error-container__content">
    <div class="alert alert-danger alert-dismissible" ng-if="vm.error" role="alert">
      {{ vm.error }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
  </div>
</div>
<div id="result">
  <div class="logs-result logs-result_default-theme">
    <div class="logs-result__container" ng-if="!vm.error"
        data-entry-oldest='<%#= @query.result.length > 0 ? @query.result.last.timestamp.strftime("%Y-%m-%d %H:%M:%S.%N") : Time.now.strftime("%Y-%m-%d %H:%M:%S.%N") %>'
        data-entry-newest='<%#= @query.result.length > 0 ? @query.result.first.timestamp.strftime("%Y-%m-%d %H:%M:%S.%N") : Time.now.strftime("%Y-%m-%d %H:%M:%S.%N") %>'>
      <div ng-include="'search/_result.html'"></div>
    </div>
  </div>
</div>
<lh-filter-form query="vm.query" app-context="vm.appContext"></lh-filter-form>
